<%- include("./parcials/header") %>
<div class="relative w-full h-[100vh] bg-[#F3F7EC] relative flex md:justify-end items-end">
    <%- include("./nav") %>

    <div id="hello" class="relative md:w-[89vw] w-full h-[90vh] p-4 pt-16 bg-[#e8eddf] py-10 shadow-md rounded-xl flex flex-col overflow-scroll items-center gap-3">
        <h1 class="text-3xl w-full rounded-lg md:w-[87vw] h-16 glass font-semibold text-center bg-[#e8eddf] top-[10%] fixed z-50 p-4">HOME</h1>
        <% tyres.forEach((T)=>{%>
      
        <%})%>
    </div>

</div>


<%- include("./parcials/footer") %>