<div class=" absolute w-[95vw] h-[7%] rounded-[20px] sm:rounded-[20px] top-[96%] left-[50%] translate-y-[-50%] translate-x-[-50%] sm:top-[50%] sm:left-[6%] sm:w-[10%] sm:h-[98%] shadow-md  bg-zinc-300 flex sm:flex-col justify-center items-center gap-6 ">
    <a href="/">
   <img width="64" height="64" src="https://img.icons8.com/external-bearicons-flat-bearicons/64/external-signup-call-to-action-bearicons-flat-bearicons.png" alt="external-signup-call-to-action-bearicons-flat-bearicons"/>
   <h1>HOME</h1>
</a>
    <a href="/register">RRRR</a>
    <a href="/login">lllll</a>
    <a href="/logout">loloolool</a>
</div>