<div class=" fixed z-[999] w-[95vw] h-[7%] rounded-[20px] sm:rounded-[20px] bottom-0 left-[50%] translate-y-[0%] md:translate-y-[-50%] translate-x-[-50%] sm:top-[50%] sm:left-[6%] sm:w-[10%] sm:h-[98%] shadow-md  bg-zinc-300 flex sm:flex-col justify-center items-center gap-6 px-4 ">
 <%if(!user){%>

<a 
href="/login" 
class=" sm:w-full w-[12%] sm:h-10 flex justify-center items-center gap-3 p-2 hover:bg-zinc-400 sm:rounded 
shadow-2xl  glass w-full  focus:border-solid border-[#035ec5] focus:border-[1px]
">

<h1 class="text-sm">Log in</h1>
</a>
<a 
href="/register" 
class=" sm:w-full w-[12%] sm:h-10 flex justify-center items-center gap-3 p-2 hover:bg-zinc-400 sm:rounded 
shadow-2xl  glass w-full  focus:border-solid border-[#035ec5] focus:border-[1px]
">
<h1 class="text-sm ">Sign up</h1>
</a>
 <%} else{ %> 
    <a 
    href="/" 
    class=" sm:w-full w-[12%] sm:h-10 flex justify-start items-center gap-3 p-2 hover:bg-zinc-400 sm:rounded 
    shadow-2xl  glass w-full  focus:border-solid border-[#035ec5] focus:border-[1px]
    ">
    <img width="30" height="30" src="https://img.icons8.com/ios/50/home--v1.png" alt="home--v1"/>
   <h1 class="text-sm lg:block hidden">Home</h1>
</a>

   <a 
    class=" w-full h-10 flex justify-start items-center gap-3 p-2 hover:bg-zinc-400 rounded 
   shadow-2xl  glass w-full  focus:border-solid border-[#035ec5] focus:border-[1px] "
    href="/createCtmr">
   <img width="30" height="30" src="https://img.icons8.com/dotty/80/add-administrator.png" alt="add-administrator"/>
   <h1 class="text-sm lg:block hidden">New Customer</h1></a>


    <a  
    class=" w-full h-10 flex justify-start items-center gap-3 p-2 hover:bg-zinc-400 rounded 
    shadow-2xl  glass w-full  focus:border-solid border-[#035ec5] focus:border-[1px]" 
    href="/tyreStoke">
    <img width="30" height="30" src="https://img.icons8.com/ios/50/warehouse-1.png" alt="warehouse-1"/>
    <h1 class="text-sm lg:block hidden">Inventory</h1></a>

    <a  
    class=" w-full h-10 flex justify-start items-center gap-3 p-2 hover:bg-zinc-400 rounded 
    shadow-2xl  glass w-full  focus:border-solid border-[#035ec5] focus:border-[1px]" 
    href="/recordCtmr"> 
    <img width="30" height="30" src="https://img.icons8.com/pastel-glyph/64/handshake--v1.png" alt="handshake--v1"/>    
    <h1 class="text-sm lg:block hidden">Customers</h1></a>

   
    <a  
    class=" w-full h-10 flex justify-start items-center gap-3 p-2 hover:bg-zinc-400 rounded 
    shadow-2xl  glass w-full  focus:border-solid border-[#035ec5] focus:border-[1px]" 
    href="/tyre-add">
    <img width="30" height="30" src="https://img.icons8.com/ios/50/add-database.png" alt="add-database"/>  
    <h1 class="text-sm lg:block hidden">Add Stocke</h1>
</a>
<%}%>
</div>