<div class=" absolute w-[95vw] h-[7%] rounded-[20px] sm:rounded-[20px] top-[93%] left-[50%] translate-y-[-50%] translate-x-[-50%] sm:top-[50%] sm:left-[6%] sm:w-[10%] sm:h-[98%] shadow-md  bg-zinc-300 flex flex-col justify-center items-center gap-6 ">
    <a href="/">home</a>
    <a href="/register">RRRR</a>
    <a href="/login">lllll</a>
    <a href="/logout">loloolool</a>
</div>