<%- include("./parcials/header") %>

<div class="w-full h-[100vh] bg-[#e8e8e8]">
  <%- include("./nav") %>

<form 
class="px-7 h-screen grid justify-center items-center"
action="/users/register"
method="post"
>
    <div class="grid gap-6" >
      <div class="w-full flex gap-3">
        <input 
        class="capitalize shadow-2xl p-3  w-full outline-none focus:border-solid focus:border-[1px] border-[#035ec5] placeholder:text-black"
         type="text"
         placeholder="First Name" 
         name="firstName"
         >
        <input 
        class="p-3 capitalize shadow-2xl  glass w-full placeholder:text-black outline-none focus:border-solid focus:border-[1px] border-[#035ec5]" 
        type="text" 
        placeholder="Last Name" 
        name="lastName"
        >
      </div>
      <div class="grid gap-6 w-full">
        <input 
        class="p-3 shadow-2xl  glass w-full placeholder:text-black outline-none focus:border-solid border-[#035ec5] focus:border-[1px]" 
        type="text" 
        placeholder="Email" 
        name="email"
        >
        <input 
        class="p-3 shadow-2xl   glass w-full text-black placeholder:text-black outline-none focus:border-solid focus:border-[1px]border-[#035ec5]" 
        type="text" 
        name="username"
        placeholder="Username"
     >
     <input 
     class="p-3 glass shadow-2xl  w-full placeholder:text-black outline-none focus:border-solid focus:border-[1px] border-[#035ec5]" type="password" 
     placeholder="Password" 
     name="password" 
     >
      </div>
     
      <button 
      class="outline-none glass shadow-2xl  w-full p-3  bg-[#ffffff42] hover:border-[#035ec5] hover:border-solid hover:border-[1px]  hover:text-[#035ec5] font-bold" 
     >
      Submit
    </button>
    </div>
  </form>

</div>

<%- include("./parcials/footer") %>